ul.social-network{
list-style: none;
padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;   
}

i{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-instagram:hover{
    color:rgb(146, 15, 98) ;
}

.fa-linkedin:hover{
color: rgb(23, 107, 146);
}

.fa-github:hover{
    color: black;
}

.bg-footer{
    background-color: black;
}

.bg-cop{

    background-color: rgb(106, 0, 0);
}